<%- include('../partials/header', { title: 'edit-profile' }) %>

<div class="main">
  <section class="edit-profile-box">
    <div class="container">
      <div class="shortener-content">
        <div class="alert-container">
          <% if(user) { %>
          <div class="alert alert-success">
            <i class="fa-solid fa-circle-check"></i>
            <span>You are logged in</span>
          </div>
          <% } else { %>
          <div class="alert alert-warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>You are not logged in</span>
          </div>
          <% } %>
        </div>

        <div class="shortener-form">
          <h2 class="form-title">Edit Your Profile</h2>
          <form
            action="/edit-profile"
            method="post"
            class="url-form"
            id="url-form"
          >
            <div class="input-group">
              <label for="name"> <i class="fa-solid fa-user"></i> </label>
              <input
                type="text"
                name="name"
                id="name"
                value="<%= name || '' %>"
                required
              />
            </div>

            <% if (errors && errors.length > 0) { %>
            <% errors.forEach(function(error) { %>
            <p class="flash-error"><%= error %></p>
            <% }); %>
            <% } %>
            <div class="form-group button">
              <button
                type="submit"
                name="shorten"
                id="shorten"
                class="form-submit"
                value="Save Changes"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %>
