<%- include('../partials/header', { title: 'Register' }) %>

<div class="hero">
  <div class="container auth-box">

    <h1>Create Account</h1>

    <form action="/register" method="POST" >

      <div class="input-group">
        <label><i class="fa-solid fa-user"></i></label>
        <input type="text" name="name" required placeholder="Enter Full Name" />
      </div>

      <div class="input-group">
        <label><i class="fa-solid fa-envelope"></i></label>
        <input type="email" name="email" required placeholder="Enter Email" />
      </div>

      <div class="input-group">
        <label><i class="fa-solid fa-lock"></i></label>
        <input type="password" name="password" required placeholder="Enter Password" />
      </div>

      <!-- <div class="input-group">
        <input type="password" name="confirmPassword" required placeholder=" " />
        <label>Confirm Password</label>
      </div> -->
      <% if (errors && errors.length > 0) { %>
        <div class="error-message">
          <ul>
            <% errors.forEach((error) => { %>
              <p class="flash-error"><%= error %></p>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <button type="submit">Register</button>
    </form>

    <p class="auth-footer">
      Already have an account?
      <a href="/login">Login</a>
    </p>

  </div>
</div>

<%- include('../partials/footer') %>
