<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-wrapper">
        <p class="navbar-brand">
          <!-- <% if (user) { %>
            <li class="nav-link">Welcome, <%= user %> 👋</li>
          <% } else { %>
             <li class="nav-link"> you are not logged in</li>
           <% } %> -->
        </p>
        <ul class="navbar-nav">
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
          <!-- <li><a class="nav-link" href="/404">Contact</a></li> -->
        </ul>
      </div>
    </nav>
  </body>
</html>
