<%- include('partials/header', { title: '404' }) %>

<div class="flex" style=" width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div>
    <h1 style="color: #2c42a3;">404 - Page Not Found</h1>
    <a href="/" style="color: #2c42a3;">Go Home</a>
  </div>
</div>

<%- include('partials/footer') %>